{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}

    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3>Mon compte</h3>
            </div>
            <div class="card-body">
                <div class="input-group form-group">
                    <p>Nom : {{ user.nom }} {{ user.prenom }}</p>
                </div>
                <div class="input-group form-group">
                    <p>Email : {{ user.email }}</p>
                </div>
                <div class="input-group form-group">
                    <p>Nombre de cycles pomodoro :  {{ user.nbPomodoro }}</p>
                </div>
                <div class="input-group form-group">
                    <p>Nomre de cartes tirées :  {{ user.listeCartesTirees|length }}</p>
                </div>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center links">
                    <a class="btn btn-primary" href="/logout">Se déconnecter</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="btn btn-primary" href="/admin">Interface Administrateur</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
