{% extends 'base.html.twig' %}

{% block title %}Nous contacter{% endblock %}

{% block body %}
    <h1>Nous Contacter</h1>
    {% for message in app.flashes("succes")%}
        <div>
            {{message}}
        </div>
    {% endfor %}
    <div class="d-flex justify-content-center h-100">
        {{ form_start(form) }}
                    <div class="input-group form-group row_account">
                        {{ form_row(form.email, {
                            'attr': {'placeholder': 'Email'}
                        }) }}
                    </div>
                    <div class="input-group form-group row_account">
                        {{ form_row(form.nom, {
                            'attr': {'placeholder': 'Nom'}
                        }) }}
                    </div>
                    <div class="input-group form-group row_account">
                        {{ form_row(form.prenom, {
                            'attr': {'placeholder': 'Prénom'},
                        }) }}
                    </div>
                    <div class="input-group form-group row_account">
                        {{ form_row(form.numeroTelephone, {
                            'attr': {'placeholder': 'Numero de téléphone'},
                        }) }}
                    </div>
                    <div class="input-group form-group row_account">
                        {{ form_row(form.message, {
                            'attr': {'placeholder': 'Message'},
                        }) }}
                    </div>

                    <button type="submit" class="btn btn-primary register_btn">Envoyer un message</button>
                {{ form_end(form) }}
    </div>
{% endblock %}
