{% extends 'base.html.twig' %}

{% block title %}Nous contacter{% endblock %}

{% block body %}
    <h1 class="h1-responsive font-weight-bold text-center my-4 text">Nous Contacter</h1>

    <div class="form-row text"> 
        {% for message in app.flashes('succes')%}
            <div class="alert alert-success" role='alert'>
            {{ message }} 
            </div>
        {% endfor %}         
        {{ form_start(form) }}
        <div class="row mb-3">
            <div class="col">
                {{ form_row(form.nom, {
                    'attr': {'placeholder': 'Nom'}
                }) }}
            </div>
            <div class="col">
                {{ form_row(form.prenom, {
                    'attr': {'placeholder': 'Prénom'},
                }) }}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                {{ form_row(form.email, {
                    'attr': { 'placeholder': 'Email'}
                }) }}
            </div>
            <div class="col">
                {{ form_row(form.numeroTelephone, {
                    'attr': {'placeholder': 'Numero de téléphone'},
                }) }}
            </div>
        </div>
            <div class="col">
                {{ form_row(form.message, {
                    'attr': {'placeholder': 'Message'},
                }) }}
            </div>

            <button type="submit" class="btn btn-primary">Envoyer un message</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
